<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WEAVUS 게시판 수정</title>
</head>
<body>
<form th:action="@{'/board1/modify/'+${board1.no}}" method="post">
    <span>로그인 유저:</span><span th:text="${session.sessionUserName}"></span>
    <input type="hidden" name="_method" value="put"><br>

    타이틀:<br>
    <input type="text" name="title" th:value="${board1.title}"><br>
    내용:<br>
    <textarea cols="10" name="content" th:text="${board1.content}"></textarea><br>

    <button type="submit">수정</button>
</form>
</body>
</html>