<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>
<h1>회원가입</h1>
<form action="/signup" method="post">

    ID: <input type="text" name="id" required>
    <button type="button" onclick="checkDuplicate">중복화인</button><br>
    <span id="duplicateMessage"></span><br>
    PW:<input type="password" name="password" required><br>
    <span id="passwordMatchMessage"></span><br>
    Re-enter PW:<input type="password" name="passwordConfirmation" required><br>
    NAME:<input type="text" name="name" required><br>
    <button type="submit">가입하기</button>
    <a href="/login">로그인 화면으로</a>
</form>

</body>
</html>